.bg-1 {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  @include large-desktop {
    background-attachment: unset;
  }
}

.bg-2 {
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

  @include large-desktop {
    background-attachment: unset;
  }
}
