.navigation {
  background: #fff;
  padding: 20px 0;

  .navbar {
    margin-bottom: 0px;
    border: 0px;
  }

  .navbar-brand {
    padding-top: 5px;
  }

  .navbar {
    background: none;
    border: 0px;

    .navbar-nav {
      padding-top: 10px;

      >li {
        >a {
          color: #5C5C5C;
          padding: 10px 15px;

          font : {
            weight: 500;
            size: 14px;
          }

          text-transform:uppercase;

          &:hover,
          &:focus {
            color: #000;
            background: transparent;
          }
        }

        select {
          margin: 10px 15px;
        }
      }
    }

    .dropdown-menu {
      border-radius: 0;
      border: none;
      left: -5px;
      box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);

      a {
        font-weight: normal;
        color: #808080;
        padding: 10px 20px;
        @include transition (all, 0.3s, ease);

        &:hover {
          background: $primary-color;
          color: $light;
          padding-left: 25px;
        }
      }
    }
  }
}

.nav .open>a {
  background: transparent;
}

// Change Bootstrap's default navbar collapse breakpoint of 768px to 992px (=desktop); source: https://silvawebdesigns.com/how-to-change-the-bootstrap-navbar-breakpoint/
@include desktop {
  .navbar-header {
    float: none;
  }

  .navbar-left,
  .navbar-right {
    float: none !important;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }

  .navbar-collapse.collapse {
    display: none!important;
  }

  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }

  .navbar-nav > li {
    float: none;
  }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .collapse.in {
    display: block !important;
  }
}
