.navigation {
  background: #fff;

  .navbar {
    margin: 0px;
    background: none;
    border: 0px;

    button.navbar-toggle {
      border: 0px;
      margin: 0px;
      padding-top: calc((#{$height-nav-bar} - 14px) / 2);
      padding-right: 23px;
      padding-bottom: 0px;
    }

    .navbar-brand {
      padding: 0px;

      img {
        display: inline-block;
        vertical-align: middle;
        padding-top: 15px;
        padding-bottom: 15px;
        max-height: 100%;
        max-width: 100%;
      }
    }

    .navbar-collapse.in,
    .navbar-collapse.collapsing {
      li {
        a {
          line-height: 40px;
        }
      }
    }

    .navbar-nav {
      >li {

        >a {
          color: #5C5C5C;
          text-transform: uppercase;

          font : {
            weight: 500;
            size: 14px;
          }

          &:focus {
            color: #000;
            background: none;
          }

          &:hover {
            background: rgba($color-primary, 0.5);
            color: #000;
            @include transition (all, 0.3s, ease);
          }

          &:hover:active {
            color: #000;
          }
        }

        select {
          margin: 10px 15px;
        }
      }
    }

    .dropdown-menu {
      border-radius: 0;
      border: none;
      left: -5px;
      box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);

      a {
        font-weight: normal;
        color: #808080;
        padding: 10px 20px;
        @include transition (all, 0.3s, ease);

        &:hover {
          background: rgba($color-primary, 0.5);
          color: #000;
          padding-left: 25px;
        }
      }
    }
  }
}

.nav .open > a {
  background: transparent;
}

// Change Bootstrap's default navbar collapse breakpoint of 768px to 992px (=desktop); source: https://silvawebdesigns.com/how-to-change-the-bootstrap-navbar-breakpoint/
@include desktop {
  .navbar-header {
    float: none;
  }

  .navbar-left,
  .navbar-right {
    float: none !important;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }

  .navbar-collapse.collapse {
    display: none!important;
  }

  .navbar-nav {
    float: none!important;
  }

  .navbar-nav > li {
    float: none;
  }

  .navbar-toggle {
    display: block;
  }

  .collapse.in {
    display: block !important;
  }
}
