{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-4 sticky-top">
        <h2>{{ .Title }}</h2>
        <p>{{ .Params.Subtitle | markdownify }}</p>
        <p>{{ i18n "last_update" }}: {{ .Lastmod.Format "January 2, 2006" }}</p>
        <h3>{{ i18n "faq_toc_title" }}</h3>
        <p>{{ .TableOfContents }}</p>
      </div>
      <div class="col-md-8">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>

{{ end }}
