{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- checking blog -->
{{ if or (eq .Section "post") (eq .Section "posts") (eq .Section "blog") (eq .Section "blogs") (eq .Section "news") (eq .Section "categories") (eq .Section "tags") }}

<section class="page-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="post post-single">
					<h2 class="post-title">{{ .Title }}</h2>
					<div class="post-meta">
						<ul>
              <li><i class="ion-calendar"></i> {{ partial "date_i18n.html" . }}</li>
              <li><i class="ion-android-people"></i>
                {{ i18n "posted_by" }}
                {{ $scratch := newScratch }}{{ if reflect.IsSlice .Params.author }}{{ $scratch.Set "authors" .Params.author }}{{ else }}{{ $scratch.Set "authors" (slice .Params.author) }}{{ end }}
                {{ range $index, $elements := $scratch.Get "authors" }}{{ if ne $index 0 }}, {{ end }}<a class="text-primary" href="{{ `author/` | relLangURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
              </li>
              <li><i class="ion-pricetags"></i>
                {{ range $index, $elements:= .Params.Tags }}{{ if ne $index 0 }}, {{ end }}<a href="{{ `tags/` | relLangURL }}{{ . | lower }}">{{ . }}</a>{{ end }}
              </li>
            </ul>
					</div>
					<div class="post-thumb">
						<img class="img-responsive" src="{{ .Params.Image | relURL }}" alt="{{ .Title }}">
					</div>
					<div class="post-content post-excerpt">
						{{ .Content }}
					</div>
					<div class="post-comments">
						{{ template "_internal/disqus.html" . }}
					</div>
				</div>
			</div>
      <div class="col-md-4">
        {{ partial "blog-sidebar.html" . }}
      </div>
		</div>
	</div>
</section>

<!-- regular page -->
{{ else }}
{{ .Render "default" }}
{{ end }}
<!-- /regular page -->

{{ end }}
