<!-- Content Start -->
<section id="advantage">
<div class="container">
<!-- Header -->


  <div class="row"> 
  <div class="col-md-12">
      <img src="/img/advantage/evo_advantage.png" width="auto" height="50px" alt="advantage-title">
      <br>
      <br>
  </div>
  </div>

  <div class="row">
        
	<div class="col-md-4">
	  <div class="text-center">
	    <img src="/img/advantage/scientific.png" width="auto" height="80px" alt="IMG">
		  <h4>Scientific</h4>
		  <p>{{ .Site.Data.advantage.scientific }}</p>
    </div>
	</div>
	
	<div class="col-md-4">
	  <div class="text-center">
	    <img src="/img/advantage/human.png" width="auto" height="80px" alt="IMG">
		  <h4>Human</h4>
		  <p>{{ .Site.Data.advantage.human }}</p>
    </div>
	</div>
	
	<div class="col-md-4">
	  <div class="text-center">
	    <img src="/img/advantage/affordable.png" width="auto" height="80px" alt="IMG">
		  <h4>Affordable</h4>
		  <p>{{ .Site.Data.advantage.affordable }}</p>
    </div>
	</div>
	 
	
  </div>
  
</div>
</section>
