{{ $data := index .Site.Data .Site.Language.Lang }}

<!-- Content Start -->
<section id="advantage">
<div class="container">
<!-- Header -->


  <div class="row"> 
  <div class="col-md-12">
      <img src={{ .URL | relLangURL }}img/advantage/advantage.png width="auto" height="50px" alt="advantage-title">
      <br>
      <br>
  </div>
  </div>

  <div class="row">
        
	<div class="col-md-4">
	  <div class="text-center">
	    <img src="/img/advantage/scientific.png" width="auto" height="80px" alt="IMG">
		  <h4>{{ $data.advantage.scientific.title }}</h4>
		  <p>{{ $data.advantage.scientific.body }}</p>
    </div>
	</div>
	
	<div class="col-md-4">
	  <div class="text-center">
	    <img src="/img/advantage/human.png" width="auto" height="80px" alt="IMG">
		  <h4>{{ $data.advantage.human.title }}</h4>
		  <p>{{ $data.advantage.human.body }}</p>
    </div>
	</div>
	
	<div class="col-md-4">
	  <div class="text-center">
	    <img src="/img/advantage/affordable.png" width="auto" height="80px" alt="IMG">
		  <h4>{{ $data.advantage.affordable.title }}</h4>
		  <p>{{ $data.advantage.affordable.body }}</p>
    </div>
	</div>
	 
	
  </div>
  
</div>
</section>
