<!-- Call to action Start -->
<section id="call-to-action" style="background-image: url('{{ .Site.Params.call.bgImage | absURL }}');">
  {{ with .Site.Params.call }}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>{{ .title }}</h2>
          <p>{{ .paragraph }}</p>
          {{ with .button }}
          <a class="btn btn-main btn-solid-border" href="{{ .url }}" >{{ .text }}</a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}