{{ partial "global-header.html" . }}

<!-- contact form start -->
{{ with .Site.Params.contact }}
<section id="contact-form">
  <div class="container">
    <div id="contact-box" class="row">
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <h2>{{ .box.title }}</h2>
          <ul class="address-block">
            <li>
              <i class="fa fa-map-marker"></i>{{ .box.address }}
            </li>
            <li>
              <i class="fa fa-envelope-o"></i><a href="mailto:info@evovest.com?Subject=Enquiry%20from%20website" target="_top">info@evovest.com</a>
            </li>
          </ul>
          <ul class="social-icons">
          {{ range .social }}  
            <li>
              <a href="{{ .url }}"><i class="fa {{ .icon }}"></i></a>
            </li>
          {{ end }}
          </ul>
		  <div class="google-map">
              <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBYtlcSiWx-J5IsE9dPl8ngHcb4u46Olx4
			  &q=3+Place+Ville+Marie,Montreal,QC 
			  &attribution_source=Google+Maps+Embed+API 
			  &attribution_web_url=http://www.evovest.com/ 
			  &attribution_ios_deep_link_id=comgooglemaps://?daddr=Evovest,+Montreal,+QC" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        {{ with .gmaps}}
        <div class="block">
          <h2>{{ .title }}</h2>

        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}