{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.homepage.cta }}
<section class="call-to-action bg-1 section-sm overly" style="background-image: url('{{.bg_image | absURL }}');">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>{{ .title | markdownify }}</h2>
          <p>{{ .content | markdownify }}</p>
<iframe src="https://open.spotify.com/embed-podcast/show/2GZf80sg6O26P597TxssvB" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}