<!-- Content Start -->
<section id="journey">
<div class="container">
<!-- Header -->
      
  <div class="row">
  
    <div class="row"> 
    <div class="col-md-12 text-center">
      <img src="/img/leadership/leadership.png" width="auto" height="50px" alt="leadership-title">
      <br>
      <br>
    </div>
    </div>
      
	<div class="col-md-6">
	  <div class="text-left">
		  <h3>{{ .Site.Data.leadership.CarlName }}</h3><h4>{{ .Site.Data.leadership.CarlTitle }}</h4>
		  
		  <div>
		  <div id="bio-float-left">
	      <img src="/img/leadership/carl_bio.png" width="auto" height="auto" alt="IMG">
	    </div>
			  <p>{{ .Site.Data.leadership.CarlBio }}</p>
    </div>
	</div>
	</div>
	
	<div class="col-md-6">
	  <div class="text-left">
		  <h3>{{ .Site.Data.leadership.JeremieName }}</h3><h4>{{ .Site.Data.leadership.JeremieTitle }}</h4>
		  
		  <div>
		  <div id="bio-float-left">
	      <img src="/img/leadership/jeremie_bio.png" width="auto" height="auto" alt="IMG">
	    </div>
			  <p>{{ .Site.Data.leadership.JeremieBio }}</p>
    </div>
	</div>
	</div>
	 
	
  </div>
  
</div>
</section>
