{{ $data := index .Site.Data .Site.Language.Lang }}

<!-- Content Start -->
<section id="journey">
<div class="container">
<!-- Header -->
      
  <div class="row">
  
    <div class="row"> 
    <div class="col-md-12 text-center">
      <img src="/img/leadership/leadership.png" width="auto" height="50px" alt="leadership-title">
      <br>
      <br>
    </div>
    </div>
      
	<div class="col-md-6">
	  <div class="text-left">
		  <h3>{{ $data.leadership.Carl.name }}</h3><h4>{{ $data.leadership.Carl.title }}</h4>
		  
		  <div>
		  <div id="bio-float-left">
	      <img src="/img/leadership/carl_bio.png" width="auto" height="auto" alt="IMG">
	    </div>
			  <p>{{ $data.leadership.Carl.bio }}</p>
    </div>
	</div>
	</div>
	
	<div class="col-md-6">
	  <div class="text-left">
		  <h3>{{ $data.leadership.Jeremie.name }}</h3><h4>{{ $data.leadership.Jeremie.title }}</h4>
		  
		  <div>
		  <div id="bio-float-left">
	      <img src="/img/leadership/jeremie_bio.png" width="auto" height="auto" alt="IMG">
	    </div>
			  <p>{{ $data.leadership.Jeremie.bio }}</p>
    </div>
	</div>
	</div>
	 
	
  </div>
  
</div>
</section>
