<!-- Media Start -->
<section id="media">
  <div class="container">
  
    <div class="row"> 
    <div class="col-md-12">
      <img src="/img/media/media.png" width="auto" height="50px" alt="media-title">
      <br>
      <br>
    </div>
    </div>
      
    <div class="row">
  
      <div class="col-md-4">    
          <a href="http://www.montrealinc.ca/fr/laureats/evovest-inc" target="_blank"><img src="/img/media/fondation-montreal-inc-logo.png" width="100%" height="auto" alt="Fondation Montreal Inc"></a>
      </div>
      <div class="col-md-4">  
<iframe height="100%" src="https://www.youtube.com/embed/wdqMwu_BTY8?start=196" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <div class="col-md-4">    
          <a href="https://www.conseiller.ca/nouvelles/lintelligence-artificielle-au-service-de-la-gestion-de-portefeuille/" target="_blank"><img src="/img/media/conseiller-ca.png" width="100%" height="auto" alt="Conseiller.ca" style="background-color:black;"></a>
      </div>

    </div>
  </div>
</section>