{{ with site.GetPage "/service" }}
{{ with .Params.service }}
<section class="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        {{ with .title }}<h2>{{ . | markdownify }}</h2>{{ end }}
        {{ with .description }}<p>{{ . | markdownify }}</p>{{ end }}
      </div>
    </div>
    <div class="row">
      {{ range .service_item }}
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="{{ .icon }}"></i>
          <h4>{{ .name | markdownify }}</h4>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
