<!DOCTYPE html>
<html>
<head>
	{{ partial "head.html" . }}
</head>
<body>
  
	{{ partial "header.html" . }}

	{{ if and (isset .Site.Params "slider") (.Site.Params.slider.enable) }}
		{{ partial "slider.html" . }}
	{{ end }}
	
	{{ if .Site.Params.schema.enable }}
		{{ partial "schema.html" . }}
	{{ end }}

	{{ if .Site.Params.advantage.enable }}
		{{ partial "advantage.html" . }}
	{{ end }}
	
	{{ if and (isset .Site.Params "leadership") (.Site.Params.leadership.enable) }}
		{{ partial "leadership.html" . }}
	{{ end }}
	
	{{ if and (isset .Site.Params "call") (.Site.Params.call.enable) }}
		{{ partial "call-to-action.html" . }}
	{{ end }}

	{{ if and (isset .Site.Params "media") (.Site.Params.media.enable) }}
		{{ partial "media.html" . }}
	{{ end }}

	{{ partial "footer.html" . }}

</body>
</html>

