<!DOCTYPE html>
<html>
<head>
	{{ partial "head.html" . }}
</head>
<body>
  
	{{ partial "header.html" . }}

	{{ if and (isset .Site.Params "slider") (.Site.Params.slider.enable) }}
		{{ partial "slider.html" . }}
	{{ end }}

	{{ if .Site.Data.journey.enable }}
		{{ partial "journey.html" . }}
	{{ end }}
	
	{{ if and (isset .Site.Params "wrapper") (.Site.Params.wrapper.enable) }}
		{{ partial "wrapper.html" . }}
	{{ end }}

	{{ if and (isset .Site.Params "call") (.Site.Params.call.enable) }}
		{{ partial "call-to-action.html" . }}
	{{ end }}


  {{ partial "leadership.html" . }}

	{{ if and (isset .Site.Params "approach") (.Site.Params.approach.enable) }}
		{{ partial "approach.html" . }}
	{{ end }}

	{{ partial "footer.html" . }}

</body>
</html>

