<div class="accordion accordion-flush border">
  <div class="accordion-item">
    <h2 class="accordion-header my-0" id="title-{{.Get 0 | urlize}}">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ .Get 0 | urlize}}" aria-expanded="false" aria-controls="{{ .Get 0 | urlize}}">
        {{ .Get 0 | markdownify }}
      </button>
    </h2>
    <div id="{{.Get 0 | urlize}}" class="accordion-collapse collapse" aria-labelledby="title-{{.Get 0 | urlize}}">
      <div class="accordion-body">{{ .Inner | markdownify }}</div>
    </div>
  </div>
</div>